demos/automation/workflow.json
{
  "name": "AI Lead Follow-Up Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.anthropicApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 400,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a short, warm, personalized follow-up email (4-5 sentences max) for a new business lead. Do not include a subject line — just the email body. Use a friendly, professional tone. Sign it from the business owner.\\n\\nLead details:\\n- Name: {{ $json.name }}\\n- Email: {{ $json.email }}\\n- Interest: {{ $json.interest }}\\n- Business: {{ $json.business }}\\n\\nThe email should reference their specific interest and invite them to book a quick call.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Generate Personalized Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-body",
              "name": "emailBody",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "lead-name",
              "name": "leadName",
              "value": "={{ $('New Lead Webhook').item.json.name }}",
              "type": "string"
            },
            {
              "id": "lead-email",
              "name": "leadEmail",
              "value": "={{ $('New Lead Webhook').item.json.email }}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "emailSubject",
              "value": "=Quick follow-up, {{ $('New Lead Webhook').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Format Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.leadEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Send Follow-Up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential-id",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Follow-up email sent to {{ $('Format Email Data').item.json.leadEmail }}\",\n  \"preview\": \"{{ $('Format Email Data').item.json.emailBody }}\"\n}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "New Lead Webhook": {
      "main": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Data": {
      "main": [
        [
          {
            "node": "Send Follow-Up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-Up Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
